@{
    ViewBag.Title = "退回处理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/js/datepicker/WdatePicker.js"></script>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    $(function () {
        gridList();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetReturnGridJson", "InOrder")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    lodeList(data);//加载明细信息
                }
            });
        }
        $(window).resize(function () {
            $("#gridList").setGridHeight($(window).height() - 90);
            $("#gridList").setGridWidth($(window).width());
        });
    });
    //提交数据
    function submitForm() {
        var tableData = GetGridRowData();//明细信息
        if (tableData.length < 1) {
            $.modalMsg("请填写信息", "warning");
            return false;
        }
        $.submitForm({
            url: "@Url.Action("ReturnSubmit", "InOrder")",
            param: { itemModel: JSON.stringify(tableData) },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    //--------------明细表信息----------
    var mydata = [];
    var index = 1;
    var lastsel;
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            datatype: "json",
            height: $(window).height() - 90,
            colModel: [
                    { label: "主键", name: "ID", hidden: true },
                { label: '原材料编号', name: 'MaterialCode', width: 120, height: 10, align: "left", sortable: false },
                { label: '原材料名称', name: 'MaterialName', width: 150, height: 10, align: "left", sortable: false },
                { label: '规格', name: 'SpecificationModel', width: 80, align: "left", sortable: false },
                { label: '计量单位', name: 'MeasurementUnitText', width: 60, align: "left", sortable: false },
                { label: '合格数量', name: 'PassCount', width: 60, align: "right", sortable: false },
                { label: '厂家', name: 'Factory', width: 120, align: "left", sortable: false },
                { label: '炉批号', name: 'BatchNumber', width: 120, align: "left", sortable: false },
                { label: '质检报告编号', name: 'TestReportNo', width: 160, align: "left", sortable: false },
                { label: '退回时间', name: 'ReturnTime', width: 120, align: "left", sortable: false, editable: true, formatter: formatDatebox },
                { label: '计量单位', name: 'MeasurementUnit', hidden: true },
                { label: '入库单号', name: 'InOrderCode', hidden: true },
            ],
            gridComplete: function () {
                $("div.unwritten").remove();
            },
            onCellSelect: function (rowid, iCol, cellContent, e) {
                //获取表格最后一行Id
                var selectedRowIds = $gridList.jqGrid("getDataIDs");
                var id = selectedRowIds[selectedRowIds.length - 1];
                if (rowid && (rowid !== lastsel || rowid == id)) {
                    editRow(rowid);
                }
            },
        });
    }
    //加载列表数据
    function lodeList(data) {
        if (data != null && data != "") {
            mydata = data;
        }
        $("#gridList").jqGrid('clearGridData');
        $.each(mydata, function (i, item) {
            index++;
            item.id = index;
            $("#gridList").jqGrid('addRowData', index, item);
        });
        editRow(index);
    }
    //编辑行
    function editRow(rowId) {
        $("#gridList").jqGrid('saveRow', lastsel);
        $("#gridList").jqGrid('editRow', rowId, true);
        lastsel = rowId;
        $("#gridList>tbody").find("input:text").each(function () {
            var width = parseInt($(this).css("width").replace('px', '')) - 25;
            $(this).css("height", "20px").css("width", width + "px");
        });
        $($("#gridList").find("tr[id='" + rowId + "']")).addClass("success").attr("editable", "1").attr("aria-selected", true);
        valid(rowId);
    }
    function valid(rowid) {
        var rowData = $("#gridList").jqGrid("getRowData", rowid);
        $("#" + rowid + "_ReturnTime").click(function () {
            WdatePicker({
                readOnly: true,
            });
        });
        $("#" + rowid + "_ReturnTime").attr("readonly", "readonly");
    }
    //获取表格数据
    function GetGridRowData() {
        $("#gridList").jqGrid('saveRow', lastsel);
        let ids = $("#gridList").jqGrid('getDataIDs');//获取多行的id
        if (ids.length < 1) {
            $.modalMsg("明细数据不完整", "warning");
            return false;
        }
        var columnData = [];
        $(ids).each(function (index, item) {
            var rowData = $("#gridList").jqGrid("getRowData", item);
            if (!rowData.ReturnTime.trim()) {
                 $.modalMsg("明细数据不完整", "warning");
                 return false;
            }
            columnData.push(rowData);
        });
        return columnData;
    }
</script>
<div style="margin-top: 10px;">
    <div id="MXXXInfo" style="padding-top: 5px; margin:10px; ">
        <div class="gridPanel" style="margin-top: 1px; ">
            <table id="gridList"></table>
        </div>
    </div>
</div>
