@{
    ViewBag.Title = "仓库查看";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<style>
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 102% !important;
    }
</style>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    $(function () {
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            $(this).css("padding-left", "8px");
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "Storage")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#formd").formSerialize(data[0]);
                }
            });
        }
    });
</script>

<div style="padding-top: 5px;margin-right:50px;">
    <form id="formd">
        <input id="ID" name="ID" type="hidden" />
        <input id="StorageCode" name="StorageCode" type="hidden" />
        <table class="form">
            <tr>
                <th class="formTitle">仓库名称<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="StorageName" name="StorageName" type="text" class="form-control required" />
                </td>
                <th class="formTitle">仓库归属<span class="required1">*</span></th>
                <td class="formValue">
                    <div class="input-group input-group-with">
                        <input id="ProcessFactoryCode" name="ProcessFactoryCode" type="hidden" />
                        <input id="ProcessFactoryName" name="ProcessFactoryName" type="text" readonly="readonly" class="form-control required" />
                        <span class="input-group-btn">
                            <a style="padding:0px;" class=" btn btn-primary">
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">仓库区域<span class="required1">*</span></th>
                <td class="formValue">
                    <div class="input-group input-group-with">
                        <input id="AreaCode" name="AreaCode" type="text" readonly="readonly" class="form-control required" />
                        <span class="input-group-btn">
                            <a style="padding:0px;" class=" btn btn-primary">
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                    </div>
                </td>
                <th class="formTitle">仓库地址<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="StorageAdd" name="StorageAdd" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">管理员<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="UserCode" name="UserCode" type="hidden" />
                    <div class="input-group input-group-with">
                        <input id="UserName" name="UserName" type="text" readonly="readonly" class="form-control required" />
                        <span class="input-group-btn">
                            <a style="padding:0px;" class=" btn btn-primary">
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                    </div>
                </td>
                <th class="formTitle">联系方式<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="Tel" name="Tel" type="text" disabled="disabled" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">仓库属性<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="StorageAttributeText" name="StorageAttributeText" type="text" disabled="disabled" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">备注</th>
                <td class="formValue" colspan="3">
                    <textarea id="Remark" name="Remark" class="form-control" style="height: 60px; padding-right: 2px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">录入人</th>
                <td class="formValue">
                    <input id="InsertUserName" name="InsertUserName" type="text"disabled="disabled" class="form-control" />
                </td>
                <th class="formTitle">录入时间</th>
                <td class="formValue">
                    <input id="InsertTime" name="InsertTime" type="text" disabled="disabled" class="form-control" />
                </td>
            </tr>
        </table>
    </form>
</div>