@{
    ViewBag.Title = "FreeChooseFlowUser";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Content/js/wdtree/tree.js"></script>
<link href="~/Content/js/wdtree/tree.css" rel="stylesheet" />
<link href="~/Content/js/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/select2/select2.min.js"></script>
<link href="~/Content/js/wizard/wizard.css" rel="stylesheet" />
<script src="~/Content/js/wizard/wizard.js"></script>
<link href="~/Content/css/framework-ui.css" rel="stylesheet" />
<script src="~/Content/js/framework-ui.js?v=1.0"></script>
<script src="~/Content/js/layer/layer.js"></script>
<link href="~/Content/css/framework-tab.css" rel="stylesheet" />
<script src="~/Content/js/Comm.js"></script>
<script type="text/javascript">
    var cztype = $.request("cztype");
    var ProjectId;
    var lastsel;
    var number = 0;
    $(function () {
        CompanyView();//获取组织机构
        DeptOrRoleOrUser()//获取组织部门角色人员
        gridList();
    });
    //加载组织机构
    function CompanyView() {
        var $leftgridList = $("#leftgridList");
        $leftgridList.dataGrid({
            url: '/Flow/Flow/GetOrg',
            height: $(window).height() - 108,
            colModel: [
                { label: '组织机构', name: 'Name', width: 220, align: 'left', sortable: false, },
                { label: "组织机构编号", name: "id", hidden: true, key: true },
                { label: "组织机构类型", name: "OrgType", hidden: true }
            ],
            treeGrid: true,//启用树型Grid功能
            treeGridModel: 'adjacency',//表示返回数据的读取类型，分为两种：和adjacency
            ExpandColumn: 'Name',//树型结构在哪列显示
            rownumbers: false,
            onCellSelect: function (id) {//单击
                clickCompany(id);
            }
        });
    }
    function clickCompany(id) {
        var CompanyId = $("#leftgridList").jqGrid('getRowData', id);
        $("#leftgridList1").jqGrid('setGridParam', {
            postData: { OrgType: CompanyId.OrgType,CompanyId:CompanyId.id },
        }).trigger('reloadGrid');
    }
    //获取组织部门角色人员
    function DeptOrRoleOrUser() {
        var $leftgridList1 = $("#leftgridList1");
        $leftgridList1.dataGrid({
            url: '/Flow/Flow/GetDeptOrRoleOrUser',
            height: $(window).height() - 108,
            colModel: [
                { label: '名称', name: 'Name', width: 220, align: 'left', sortable: false, },
                { label: "编号", name: "id", hidden: true, key: true },
                { label: "类型", name: "TypeName", hidden: true },
                { label: "部门id", name: "DeptId", hidden: true },
                { label: "部门名称", name: "DeptName", hidden: true },
                { label: "角色id", name: "RoleId", hidden: true },
                { label: "角色名称", name: "RoleName", hidden: true },
                { label: "项目id", name: "ProjectId", hidden: true },
            ],
            treeGrid: true,//启用树型Grid功能
            treeGridModel: 'adjacency',//表示返回数据的读取类型，分为两种：和adjacency
            ExpandColumn: 'Name',//树型结构在哪列显示
            rownumbers: false,
            onCellSelect: function (id) {//单击
                clickDeptOrRoleOrUser(id);
            }
        });
    }
    function clickDeptOrRoleOrUser(id) {
        var CompanyId = $("#leftgridList").jqGridRowValue();
        $("div.unwritten").remove();
        $("#gridList").jqGrid('saveRow', lastsel);
        var ids = $("#gridList").jqGrid('getDataIDs');//获取多行的id
        if (ids.length > 0) number = parseInt(ids[ids.length - 1]) + 1;
        var druData = $("#leftgridList1").jqGrid('getRowData', id);
        if (druData.TypeName == "Dep") { $.modalMsg("审批人员不能选择部门"); return; };
        var DataId = id;
        if (druData.TypeName == "User") {
            var a = DataId.split('-');
            DataId = a[0];
        }
        if (CompanyId.OrgType == "1") {
            checkParent(CompanyId.id);
        } else {
            ProjectId = druData.ProjectId;
        }
        if (cztype == "yj") {
            $("#gridList").jqGrid('addRowData', number, { UserTypeId: DataId, TypeName: druData.TypeName, Name: druData.Name, ActionType: '6', ActionTypeName: '预警', DeptId: druData.DeptId, DeptName: druData.DeptName, RoleId: druData.RoleId, RoleName: druData.RoleName, ProjectId: ProjectId,OrgId:CompanyId.id });
        } else if (cztype=="sp") {
            $("#gridList").jqGrid('addRowData', number, { UserTypeId: DataId, TypeName: druData.TypeName, Name: druData.Name, ActionType: '0', ActionTypeName: '审批', DeptId: druData.DeptId, DeptName: druData.DeptName, RoleId: druData.RoleId, RoleName: druData.RoleName, ProjectId: ProjectId, OrgId: CompanyId.id });
        }
        
        $("#gridList").jqGrid("re");
    }
    function checkParent(rowid) {
        var CompanyId = $("#leftgridList").jqGrid("getLocalRow", rowid);
        if (CompanyId.level != 0) {
            var parent = $("#leftgridList").jqGrid('getNodeParent', $("#leftgridList").jqGrid("getLocalRow", rowid));
            checkParent(parent.id);
        }
        else {
            switch(CompanyId.id)
            {
                case "6247574415609954305":
                    ProjectId = "6245721945602523137";
                    break;
                case "6247574415609954306":
                    ProjectId = "6422195692059623424";
                    break;
                case "6247574415609954309":
                    ProjectId = "6245721945602523139";
                    break;
                case "6247574415609954304":
                    ProjectId = "6245721945602523136";
                    break;
                default:
                    ProjectId = "";
                    break;
            }
        }
    }
    //加载岗位人员
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            height: $(window).height() - 138,
            colModel: [
                { label: "主键", name: "id", hidden: true, key: true },
                { label: "人员类型ID", name: "UserTypeId", hidden: true},
                { label: '人员来源', name: 'TypeName', width: 90, align: 'left', formatter: function (v) { if (v == "Dep") return "部门"; else if (v == "User") return "操作员"; else if (v == "Role") return "角色"; } },
                { label: '人员名称', name: 'Name', width: 90, align: 'left' },
                { label: '操作类型', name: 'ActionType', hidden: true },
                {
                    label: '操作类型', name: 'ActionTypeName', width: 90, align: 'left', editable: true, edittype: "select", editoptions: { value: "0:审批;-1:抄送;6:预警" }
                },
               { label: "部门id", name: "DeptId", hidden: true },
               { label: "部门名称", name: "DeptName", width: 100, align: 'left' },
               { label: "角色id", name: "RoleId", hidden: true },
               { label: "角色名称", name: "RoleName", width: 100, align: 'left' },
               { label: "项目id", name: "ProjectId", hidden: true },
               { label: "组织机构Id", name: "OrgId", hidden: true },
            ],
            multiselect: false,
            sortname: 'UserTypeId',
            viewrecords: true,
            gridComplete: function (id) { }
        });
    }

    //删除已选用户
    function UnSelectedEmployee() {
        var rowId = $("#gridList").jqGrid('getGridParam', 'selrow');
        if (!rowId) {
            $.modalMsg("请选择数据", "warning");
            return false;
        }
        $("#gridList").jqGrid('delRowData', rowId);

    }
    //确认
    function BackData() {
        var rows = $('#gridList').jqGrid('getRowData');//获取所有数据
        ////处理少一行bug
        var allCountID = $("#gridList").jqGrid('getDataIDs'); //这里获取所有行 主键id 是全的
        rows.push($("#gridList").jqGrid('getRowData', allCountID[allCountID.length - 1]));  //单独用最后一个 ID 获取行数据 并 追加到 集合里
        if (rows.length < 0) {
            $.modalMsg("请选择数据", "warning");
            return false;
        }
        return rows;
    }
</script>
<div style="width: 100%;margin-top: 5px;height:99%;position:absolute">
    <div id="DialogDiv1" class="panel panel-success" style="width: 32%; height: 99%; float: left; margin-right: 5px; border-color: #1ABC9C;margin-bottom:0px;">
        <div class="panel-heading" style="border-color: #1ABC9C">
            <h3 class="panel-title">组织机构</h3>
        </div>
        <div class="panel-body">
            <table id="leftgridList"></table>
        </div>
    </div>
    <div id="DialogDiv3" class="panel panel-success" style="width: 32%; height: 99%; float: left; margin-right: 5px; border-color: #1ABC9C; margin-bottom: 0px; ">
        <div class="panel-heading" style="border-color: #1ABC9C">
            <h3 class="panel-title">部门角色人员</h3>
        </div>
        <div class="panel-body">
            <table id="leftgridList1"></table>
        </div>
    </div>
    <div id="DialogDiv2" class="panel panel-success" style="width: 32%; height: 99%; float: left; margin-right: 5px; border-color: #1ABC9C; margin-bottom: 0px; ">
        <div class="panel-heading" style="border-color: #1ABC9C">
            <h3 class="panel-title">已选审批人员</h3>
        </div>
        <div class="panel-body">
            <div style="margin-bottom:5px;">
                <button id="btn_search" type="button" class="btn  btn-primary" onclick="UnSelectedEmployee();"><i class="fa fa-trash-o">删除</i></button>
            </div>
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>
