@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        //加载菜单按钮
        $.LodeMenuBtn("/SystemManage/Menu/Index");
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            //ExpandColumn: "MenuPCode",
            rownumbers: false,
            url: "/SystemManage/Menu/GetTreeGridJson",
            height: $(window).height() - 96,
            colModel: [
                //{ label: "菜单编号", name: "MenuCode", hidden: true, key: true },
                { label: '菜单名称', name: 'MenuName', width: 200, align: 'left', sortable: false },
                { label: "菜单编号", name: "MenuCode", width: 150, key: true, align: 'left', sortable: false },
                { label: '父级菜单编码', name: 'MenuPCode', width: 150, align: 'left', sortable: false },
                { label: '菜单链接', name: 'MenuUrl', width: 200, align: 'left', sortable: false },
                { label: '菜单图标', name: 'MenuIconCls', width: 150, align: 'left', sortable: false },
                {
                    label: '是否显示', name: 'IsShow', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == 0 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '是否启用数据权限', name: 'DataAuthority', width: 150, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == 0 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: '排序', name: 'Sort', width: 80, align: 'left', sortable: false },
                {
                    label: '审批流程', name: 'OperationExamination', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '查看', name: 'OperationView', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '新增', name: 'OperationAdd', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '编辑', name: 'OperationEdit', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '删除', name: 'OperationDel', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '导出', name: 'OperationOutput', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '自定义按钮1', name: 'OperationOther1', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '自定义按钮2', name: 'OperationOther2', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '自定义按钮3', name: 'OperationOther3', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '自定义按钮4', name: 'OperationOther4', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '自定义按钮5', name: 'OperationOther5', width: 100, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return cellvalue == "1" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                }
            ],
            sortname: 'Sort',
            ondblClickRow: function (id) {//双击
                btn_details();
            }

        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });

        //回车查询
        document.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                $('#btn_search').trigger("click");
            }
        }
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增菜单",
            url: "/SystemManage/Menu/Form?type=add",
            width: "800px",
            height: "540px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().MenuCode;
        if (keyValue != "" && keyValue != null && keyValue != undefined) {
            $.modalOpen({
                id: "Form",
                title: "修改菜单",
                url: "/SystemManage/Menu/Form?keyValue=" + keyValue + "&type=edit",
                width: "800px",
                height: "540px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        } else {
            $.modalMsg("请选择要修改的菜单信息", "warning");
            return false;
        }
    }
    function btn_delete() {
        var keyValue = $("#gridList").jqGridRowValue().MenuCode;
        if (keyValue != "" && keyValue != null && keyValue != undefined) {
            $.deleteForm({
                url: "/SystemManage/Menu/DeleteForm",
                param: { keyValue: keyValue },
                success: function () {
                    $.currentWindow().$("#gridList").resetSelection();
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            });
        } else {
            $.modalMsg("请选择要删除的菜单信息", "warning");
            return false;
        }
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().MenuCode;
        if (keyValue != "" && keyValue != null && keyValue != undefined) {
            $.modalOpen({
                id: "Details",
                title: "查看菜单",
                url: "/SystemManage/Menu/Details?keyValue=" + keyValue,
                width: "800px",
                height: "540px",
                btn: null,
            });
        } else {
            $.modalMsg("请选择要查看的菜单信息", "warning");
            return false;
        }
    }
</script>

<div class="topPanel">
    <div class="toolbar" id="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span>刷新</a>
        </div>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="菜单编号/菜单名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
