@{
    ViewBag.Title = "AppDown";
}
<div>
    <table style="width:100%">
        <tr style="text-align:center">
            <td>安卓手机下载</td>
           @* <td>IOS下载</td>*@
        </tr>
        <tr style="text-align:center">
            <td><img src="~/AppImg/1550819771.png" width="160" height="160" /></td>
            @*<td><img src="~/AppImg/201910171734.png" width="160" height="160" /></td>*@
        </tr>
    </table>
</div>
