@{
    ViewBag.Title = "原材料月度需求计划查看";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/js/uploadFile.js"></script>
<style>
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 102% !important;
    }
</style>
<!---------基本信息------->
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    $(function () {
        //判断浏览器是否是IE浏览器，如果是ie浏览器不设置样式
        var mb = myBrowser();
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            if ("IE" != mb) {
                $(this).css("padding-left", "8px");
            }
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });
        initControl();
        gridList();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "RawMonthDemandPlan")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#formd").formSerialize(data.Item1[0]);
                    if ($("#Enclosure").val()) {
                        $("#uplaodFileTitle").html("已上传");
                        $("#uplaodFilelook").show();
                    }
                    lodeList(data.Item2);//加载明细信息
                }
            });
        }
    });

    function initControl() {
        //钢筋类型
        $("#RebarType").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "RebarType" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        });
    }
    //获取表格数据
    function GetGridRowData() {
        $("#gridList").jqGrid('saveRow', lastsel);
        var ids = $("#gridList").jqGrid('getDataIDs');//获取多行的id
        if (ids.length < 1) {
            $.modalMsg("明细数据不完整", "warning");
            return null;
        }
        var DemandPlanCode = $("#DemandPlanCode").val();
        var columnData = [];
        $(ids).each(function (index, yu) {
            var rowData = $("#gridList").jqGrid("getRowData", yu);
            rowData.ID = 0;
            rowData.DemandPlanCode = DemandPlanCode;
            var DemandNum = parseFloat(rowData.DemandNum);
            if (isNaN(DemandNum)) {
                $.modalMsg("明细数据不完整", "warning");
                columnData = [];
                return false;
            }
            columnData.push(rowData);
        });
        return columnData;
    }
    //选项卡
    function selectTab(v) {
        var id = v.attr('id');
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
    }

    //查看附件
    function uplaodFilelook() {
        showFile($("#Enclosure").val(), "detail", "RawMonthDemandPlan");
    }
</script>

<!---------明细信息------->
<script type="text/javascript">
    var mydata = [];
    var index = 1;
    var lastsel;
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            datatype: "json",
            height: $(window).height() - 160,
            colModel: [
                    { label: "主键", name: "ID", hidden: true },
                    { label: '原材料编号', name: 'MaterialCode', width: 120, height: 10, align: "left", sortable: false },
                    { label: '原材料名称', name: 'MaterialName', width: 140, height: 10, align: "left", sortable: false },
                    { label: '规格', name: 'SpecificationModel', width: 140, align: "left", sortable: false },
                    { label: '计量单位', name: 'MeasurementUnitText', width: 100, align: "left", sortable: false },
                    { label: '计量单位', name: 'MeasurementUnit', hidden: true },
                    { label: '需求重量(kg)', name: 'DemandNum', width: 80, align: "left", sortable: false, editable: true },
                    { label: '技术要求', name: 'SkillRequire', width: 80, align: "left", sortable: false, editable: true },
                    { label: '备注', name: 'Remark', width: 160, align: "left", sortable: false, editable: true }
            ],
            gridComplete: function () {
                $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
                $("div.unwritten").remove();
            }
        });
    }
    //加载列表数据
    function lodeList(data) {
        if (data != null && data != "") {
            mydata = data;
        }
        $("#gridList").jqGrid('clearGridData');
        $.each(mydata, function (i, item) {
            index++;
            item.id = index;
            $("#gridList").jqGrid('addRowData', index, item);
        });
    }
</script>

<div style="margin-top: 10px;">
    <ul class="nav nav-tabs">
        <li id="JBXX" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">基本信息</a></li>
        <li id="MXXX" onclick="selectTab($(this))"><a href="javascript:void(0);">明细信息</a></li>
    </ul>
    <div id="JBXXInfo" style="padding-top: 5px;margin-right:20px;">
        <form id="formd">
            <input id="ID" name="ID" type="hidden" />
            <input id="Examinestatus" name="Examinestatus" type="hidden" />
            <input id="Enclosure" name="Enclosure" type="hidden" />
            <table class="form">
                <tr>
                    <th class="formTitle">需求计划编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DemandPlanCode" name="DemandPlanCode" type="text" disabled="disabled" class="form-control required" />
                    </td>
                    <th class="formTitle">钢筋类型<span class="required1">*</span></th>
                    <td class="formValue">
                        <select id="RebarType" name="RebarType" class="form-control">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">需求月份<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DemandMonth" name="DemandMonth" type="text" class="form-control required input-wdatepicker" placeholder="需求月份" value="@(DateTime.Now.ToString("yyyy-MM"))" onfocus="WdatePicker({ dateFmt: 'yyyy-MM' })" />
                    </td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th class="formTitle">分部名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group input-group-with">
                            <input id="ParentCompanyCode" name="ParentCompanyCode" hidden="hidden" />
                            <input id="BranchCode" name="BranchCode" hidden="hidden" />
                            <input id="BranchName" name="BranchName" type="text" readonly="readonly" class="form-control required" />
                            <span class="input-group-btn">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">工区名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group input-group-with">
                            <input id="WorkAreaCode" name="WorkAreaCode" hidden="hidden" />
                            <input id="WorkAreaName" name="WorkAreaName" type="text" readonly="readonly" class="form-control required" />
                            <span class="input-group-btn">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    @*<th class="formTitle">站点名称</th>
                    <td class="formValue">
                        <div class="input-group input-group-with">
                            <input id="SiteCode" name="SiteCode" hidden="hidden" />
                            <input id="SiteName" name="SiteName" type="text" readonly="readonly" class="form-control" />
                            <span class="input-group-btn">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>*@
                    <th class="formTitle">加工厂名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group input-group-with">
                            <input id="ProcessFactoryCode" name="ProcessFactoryCode" hidden="hidden" />
                            <input id="ProcessFactoryName" name="ProcessFactoryName" type="text" readonly="readonly" class="form-control required" />
                            <span class="input-group-btn">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">交货地点<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DeliveryAdd" name="DeliveryAdd" type="text" value="" class="form-control required required" />
                    </td>
                </tr>
                <tr style="display:none">
                    <th class="formTitle">交货时间</th>
                    <td class="formValue">
                        <input id="DeliveryDate" name="DeliveryDate" type="text" class="form-control required input-wdatepicker" />
                    </td>
                </tr>
                @*<tr>
                    <th class="formTitle">供应商编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group input-group-with">
                            <input id="SupplierCode" name="SupplierCode" type="hidden" />
                            <input id="SupplierName" name="SupplierName" type="text" readonly="readonly" class="form-control required" />
                            <span class="input-group-btn" onclick="selectSupplier()">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">供应单位<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="SupplyCompany" name="SupplyCompany" type="text" class="form-control required" />
                    </td>
                </tr>*@
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 60px; padding-right: 1px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">附件</th>
                    <td class="formValue">
                        <span id="uplaodFileTitle" class="Isfile">未上传</span>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFilelook" onclick="uplaodFilelook();" style="display:none;">查看</a>
                    </td>
                    <th class="formTitle">计划总量(kg)<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="PlanTotal" name="PlanTotal" type="text" class="form-control required" value="0.0000" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">录入人</th>
                    <td class="formValue">
                        <input id="UserName" name="UserName" type="text" disabled="disabled" class="form-control" />
                    </td>
                    <th class="formTitle">录入时间</th>
                    <td class="formValue">
                        <input id="InsertTime" name="InsertTime" type="text" disabled="disabled" class="form-control" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="MXXXInfo" style="padding-top: 5px; display: none; margin:10px; overflow-x: scroll; ">
        <div class="gridPanel" style="margin-top: 1px; ">
            <table id="gridList"></table>
        </div>
    </div>
</div>
