@{
    ViewBag.Title = "库存盘点查看";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/js/uploadFile.js"></script>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    var ProjectId = top.clients.projectId;
    $(function () {
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            $(this).css("padding-left", "8px");
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });

        gridList();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "StockTaking")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data.Item1[0]);
                    //ProjectId = data.item1[0].ProjectId;
                    if ($("#Enclosure").val()) {
                        $("#uplaodFileTitle").html("已上传");
                        $("#uplaodFilelook").show();
                    }
                    lodeList(data.Item2);
                }
            });
        }

        //仓库属性
        $("#WarehouseType").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "MaterialType" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        })
        $(window).resize(function () {
            $("#gridList").setGridHeight($(window).height() - 160);
            //$("#gridList").setGridWidth($(window).width());
        });
    });

</script>

<!---------明细列表------->
<script type="text/javascript">
    var mydata = [];
    var index = 1;
    var lastsel;
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            datatype: "json",
            height: $(window).height() - 160,
            colModel: [
                { label: "主键", name: "ID", hidden: true },
                { label: '原材料编号', name: 'MaterialCode', hidden: true },
                { label: '材料名称', name: 'MaterialName', width: 150, align: "left", sortable: false },
                { label: '规格', name: 'SpecificationModel', width: 150, align: "left", sortable: false },
                { label: '钢筋类型', name: 'RebarTypeName', width: 100, align: "left", sortable: false },
                { label: '账存重量(吨)', name: 'lnventoryWeight', width: 150, align: "right", sortable: false },
                { label: '盘点重量(吨)', name: 'TakWeight', width: 150, align: "right", sortable: false},
                { label: '盘盈/盘亏(吨)', name: 'EarnOrLosWeight', width: 150, align: "right", sortable: false },
                { label: '备注', name: 'Remark', width: 300, align: "left", sortable: false},
                { label: '盘盈/盘亏', name: 'EarnOrLosItem', hidden: true },
                { label: '钢筋类型', name: 'RebarType', hidden: true },
            ],
            gridComplete: function () {
                $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
                $("div.unwritten").remove();

                var objItem = $("#gridList").find("[aria-describedby='gridList_EarnOrLosItem']");
                var ewt = $("#gridList").find("[aria-describedby='gridList_EarnOrLosWeight']");
                $.each(objItem, function (i, item) {
                    if ($(item).attr("title") == "-1") {
                        $(ewt[i]).css("color", "red");
                    }
                    else {
                        $(ewt[i]).css("color", "green");
                    }
                });
            }
        });
    }
   
    //加载列表数据
    function lodeList(data) {
        if (data != null && data != "") {
            mydata = data;
        }
        $("#gridList").jqGrid('clearGridData');
        $.each(mydata, function (i, item) {
            index++;
            item.id = index;
            $("#gridList").jqGrid('addRowData', index, item);
        });
    }
</script>
<!---------附件列表------->
<script type="text/javascript">
    //上传附件
    function Uplaod() {
        UplaodFile($("#Enclosure").val(), $("#ID").val(), "StockTaking");
    }
    //查看附件
    function uplaodFilelook() {
        showFile($("#Enclosure").val(), "form", "StockTaking");
    }

    function selectTab(v) {
        var id = v.attr('id');
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
    }

</script>

<div style="margin-top: 10px;">
    <ul class="nav nav-tabs">
        <li id="JBXX" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">基本信息</a></li>
        <li id="ItemXX" onclick="selectTab($(this))"><a href="javascript:void(0);">明细信息</a></li>
    </ul>
    <div id="JBXXInfo" style="padding-top: 5px; margin-right: 30px; margin-left: 10px;">
        <form id="form1">
            <input id="ID" name="ID" type="hidden" />
            <input id="Enclosure" name="Enclosure" type="hidden" />
            <input id="EarnOrLos" name="EarnOrLos" type="hidden" />
            <table class="form">
                <tr>
                    <th class="formTitle">盘点单号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="TakNum" name="TakNum" type="text" disabled="disabled" class="form-control required" />
                    </td>
                    @*<th class="formTitle">加工厂名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="ProcessFactoryCode" name="ProcessFactoryCode" type="hidden">
                            <input id="FactoryName" name="FactoryName" type="text" readonly="readonly" class="form-control required">
                            <span class=" input-group-btn">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>*@
                    <th class="formTitle">仓库类型<span class="required1">*</span></th>
                    <td class="formValue">
                        <select id="WarehouseType" name="WarehouseType" class="form-control required"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">账存总量(吨)</th>
                    <td class="formValue">
                        <input id="TotalInventory" name="TotalInventory" value="0" type="text" class="form-control" disabled="disabled" />
                    </td>
                    <th class="formTitle">盘点日期<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="TakDay" name="TakDay" type="text" disabled="disabled" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">盘点总量(吨)</th>
                    <td class="formValue">
                        <input id="TotalTak" name="TotalTak" value="0" type="text" class="form-control" disabled="disabled" />
                    </td>
                    <th class="formTitle">盘盈/盘亏(吨)</th>
                    <td class="formValue">
                        <input id="TotalEarnOrLos" name="TotalEarnOrLos" value="0" type="text" class="form-control" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">附件</th>
                    <td class="formValue">
                        <span id="uplaodFileTitle" class="Isfile">未上传</span>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFile" onclick="Uplaod();">上传</a>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFilelook" onclick="uplaodFilelook();" style="display:none;">查看</a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remarks" name="Remarks" class="form-control" style="height: 60px; padding-right: 2px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">录入人</th>
                    <td class="formValue">
                        <input id="UserName" name="UserName" type="text" disabled="disabled" class="form-control" />
                    </td>
                    <th class="formTitle">录入时间</th>
                    <td class="formValue">
                        <input id="InsertTime" name="InsertTime" type="text" disabled="disabled" class="form-control" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="ItemXXInfo" style="padding-top: 5px; display: none; margin:10px; overflow-x: scroll; ">
        @*<div class="toolbar">
                <div class="btn-group">
                    <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
                </div>
                <div class="btn-group">
                    <a id="NF-delete" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
                </div>
            </div>*@
        <div class="gridPanel" style="margin-top: 1px; ">
            <table id="gridList"></table>
        </div>
    </div>
</div>
