@{
    ViewBag.Title = "团队管理查看";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script>
    var keyValue = $.request("keyValue");
    var menuCode = $.request("menuCode");
    var menuName = $.request("menuName");
    $(function () {
        initContrl();
        LoadTeamMember();
        $.ajax({
            url: "/PermissionsTeam/GetTeamJson",
            data: { key: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                var mydata = data.PermissionsTeamMember;
                lodeList(mydata);
            }
        });
    });

    function initContrl() {
        $("#MenuCode").bindSelect({ url: "/PermissionsTeam/GetMenuSelectList" });
    }

    function LoadTeamMember() {
        $("#gridList").dataGrid({
            height: $(window).height() - 128,
            colModel: [
                { label: "用户编码", name: "UserCode", width: 350, align: 'left', sortable: false },
                { label: '用户名称', name: 'UserName', width: 440, align: 'left', sortable: false },
            ],
            gridComplete: function () {
                $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
                $("div.unwritten").remove();
            }
        });
    }

    //加载列表数据
    var index = 0;
    function lodeList(data) {
        $.each(data, function (i, item) {
            index++;
            item.id = index;
            $("#gridList").jqGrid('addRowData', index, item);
        });
    }

    function selectTab(v) {
        var id = v.attr('id');
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
    }

</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li id="JBXX" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">基本信息</a></li>
            <li id="TeamMember" onclick="selectTab($(this))"><a href="javascript:void(0);">团队成员</a></li>
        </ul>
        <div id="JBXXInfo" style="padding-top: 5px; margin-right: 30px;">
            <div style="padding-top: 20px; margin-right: 30px;">
                <input id="ID" name="ID" type="hidden" />
                <table class="form">
                    <tr>
                        <th class="formTitle">团队编码<span class="required1">*</span></th>
                        <td class="formValue" colspan="2">
                            <input id="TeamNumber" style="background-color: #edf7e6" name="TeamNumber" type="text" class="form-control required" />
                        </td>
                        <th class="formTitle">团队名称<span class="required1">*</span></th>
                        <td class="formValue" colspan="2">
                            <input id="TeamName" name="TeamName" style="background-color: #edf7e6" type="text" class="form-control required" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">所属单据<span class="required1">*</span></th>
                        <td class="formValue" colspan="2">
                            <select id="MenuCode" name="MenuCode" class="form-control"></select>
                        </td>
                        <th class="formTitle">创建时间</th>
                        <td class="formValue" colspan="2">
                            <input id="CreateDate" name="CreateDate" style="background-color: #edf7e6" disabled="disabled" type="text" class="form-control required" />
                        </td>
                    </tr>

                    <tr>
                        <th class="formTitle">团队说明</th>
                        <td class="formValue" colspan="5">
                            <input type="hidden" id="CreateUser" name="CreateUser" />
                            <textarea id="Remark" name="Remark" type="text" style="background-color: #edf7e6" class="form-control" style="height: 60px;"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="TeamMemberInfo" style="padding-top: 5px; display:none; margin-right: 30px;">
            <div class="gridPanel" style="margin-top: 1px;">
                <table id="gridList"></table>
            </div>
        </div>
    </div>
</form>