@{
    ViewBag.Title = "部门Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var cCode = $.request("companyCode");
    var cName = $.request("companyName");
    var dCode = $.request("dCode");
    var type = $.request("type");
    $(function () {
        initControl();
        if (!!dCode) {
            $.ajax({
                url: "/SystemManage/Department/GetFormJson",
                data: { keyValue: dCode, ComCode: cCode },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#CompanyCodeName").val(data.BelongCompanyCode);
                }
            });
        }
        if(type=="add")
        {
            $("#ZhuGuan").attr("onclick",false);
            $("#FenGuan").attr("onclick", false);
        }
        $("#ParentDepartmentCode").change(function () {
            var sjbm = $("#ParentDepartmentCode").val();
            var bm = $("#DepartmentCode").val();
            if(sjbm==bm)
            {
                $.modalMsg("非法操作，请选择其他部门！", "warning");
                $("#ParentDepartmentCode").val("0");
                $("#ParentDepartmentCode").trigger("change", "0");
            }
        });
    });
    function initControl() {
        $("#CompanyCodeName").val(cName);
        $("#CompanyCode").val(cCode);
        $("#ParentDepartmentCode").bindSelect({
            url: "/SystemManage/Department/GetSelectJson?value="+cCode,
        });
    }
    function submitForm() {
        var type = $.request("type");
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SystemManage/Department/SubmitForm?type=" + type,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    //选择主管领导
    function ClickUserZ() {
        var dcode = $("#DepartmentCode").val();
        var ccode = $("#CompanyCode").val();
        selectClick('win_DepUser', '/SystemManage/Department/GetDepartmentUserList&keyValue=DCode/' + dcode + "|CCode/" + ccode, 'Grid', 'UserCode', '', 'DepartmentLeader=UserCode,DepartmentLeaderName=UserName', '650px', '550px')
    }
    //选择分管领导
    function ClickUserF() {
        var dcode = $("#DepartmentCode").val();
        var ccode = $("#CompanyCode").val();
        selectClick('win_DepUser', '/SystemManage/Department/GetDepartmentUserList&keyValue=DCode/' + dcode + "|CCode/" + ccode, 'Grid', 'UserCode', '', 'DepartmentSecLeader=UserCode,DepartmentSecLeaderName=UserName', '650px', '550px')
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">所属公司<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="id" name="id" type="hidden" />
                        <input id="CompanyCodeName"  name="CompanyCodeName" type="text" disabled="disabled" class="form-control required" />
                        <input id="CompanyCode" name="CompanyCode" type="hidden" class="form-control" />
                    </td>
                    <th class="formTitle">上级部门</th>
                    <td class="formValue">
                        <select id="ParentDepartmentCode" name="ParentDepartmentCode" class="form-control required">
                            <option value="0">请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">部门编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DepartmentCode"  name="DepartmentCode" disabled="disabled" value="@ViewBag.DCode" type="text" class="form-control required" placeholder="部门编号" />
                    </td>
                    <th class="formTitle">部门名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DepartmentName" name="DepartmentName" type="text" class="form-control required" placeholder="部门名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">排序号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="SortNumber" name="SortNumber" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">联系电话</th>
                    <td class="formValue">
                        <input id="Telephone" name="Telephone" type="text" class="form-control TelYZ" placeholder="联系电话" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">部门主管</th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="DepartmentLeader" name="DepartmentLeader" type="hidden" class="form-control" />
                            <input id="DepartmentLeaderName" name="DepartmentLeaderName" readonly="readonly" type="text" class="form-control" placeholder="部门主管" />
                            <span id="ZhuGuan" class="input-group-btn" onclick="ClickUserZ()">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i style="padding-bottom:8px;padding-top:8px;" class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">分管领导</th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="DepartmentSecLeader" name="DepartmentSecLeader" type="hidden" class="form-control" />
                            <input id="DepartmentSecLeaderName" name="DepartmentSecLeaderName" readonly="readonly" type="text" class="form-control" placeholder="分管领导" />
                            <span id="FenGuan" class="input-group-btn" onclick="ClickUserF()">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i style="padding-bottom:8px;padding-top:8px;" class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">办公地点</th>
                    <td class="formValue">
                        <input id="WorkSpace" name="WorkSpace" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">备注</th>
                    <td class="formValue">
                        <input id="Remark" name="Remark" type="text" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>