@{
    ViewBag.Title = "原材料生产领料查看页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/js/uploadFile.js"></script>
<style>
    .select2-container { box-sizing: border-box; display: inline-block; margin: 0; position: relative; vertical-align: middle; width: 102% !important; }
</style>
<!---------基本信息------->
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    $(function () {
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            $(this).css("padding-left", "8px");
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });
        gridList();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "RMProductionMaterial")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data.Item1[0]);
                    if ($("#Enclosure").val()) {
                        $("#uplaodFileTitle").html("已上传");
                        $("#uplaodFilelook").show();
                    }
                    lodeList(data.Item2);//加载明细信息
                }
            });
        }
        $(window).resize(function () {
            $("#gridList").setGridHeight($(window).height() - 160);
        });
    });

    //选项卡
    function selectTab(v) {
        var id = v.attr('id');
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
    }
</script>

<!---------附件列表------->
<script type="text/javascript">
    //查看附件
    function uplaodFilelook() {
        showFile($("#Enclosure").val(), "detail", "RMProductionMaterial");
    }
</script>

<!---------明细信息------->
<script type="text/javascript">
    var mydata = [];
    var index = 1;
    var lastsel;
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            datatype: "json",
            height: $(window).height() - 160,
            colModel: [
                    { label: "主键", name: "ID", hidden: true },
                    { label: "订单编号", name: "OrderCode", hidden: true },
                    { label: '构件名称<span class="required1">*</span>', name: 'ComponentName', width: 120, height: 10, align: "left", sortable: false },
                    { label: '原材料编号<span class="required1">*</span>', name: 'MaterialCode', width: 100, height: 10, align: "left", sortable: false },
                    { label: '原材料名称<span class="required1">*</span>', name: 'MaterialName', width: 120, height: 10, align: "left", sortable: false },
                    { label: '规格<span class="required1">*</span>', name: 'SpecificationModel', width: 120, align: "left", sortable: false },
                    { label: '单位重量(kg/m;㎡)', name: 'MeasurementUnitZl', width: 120, align: "left", sortable: false },
                    { label: '单件用量(m;㎡)', name: 'ItemUseNum', width: 100, align: "left", sortable: false },
                    { label: '件数', name: 'Number', width: 60, align: "left", sortable: false },
                    { label: '重量小计(kg)', name: 'WeightSmallPlan', width: 60, align: "left", sortable: false },
                    { label: '使用材料类型<span class="required1">*</span>', name: 'RMTypeName', width: 100, align: "center", sortable: false, editable: true, edittype: "select", editoptions: { value: "余料:余料;原材料:原材料" }, },
                    { label: '尺寸((m;㎡)<span class="required1">*</span>', name: 'SizeSelectionStr', width: 100, align: "left", sortable: false, editable: true },
                    { label: '根数', name: 'RootNumberStr', width: 60, align: "left", sortable: false },
                    { label: '领料重量小计(kg)', name: 'WeightSmallPlanN', width: 100, align: "left", sortable: false },
                    { label: '厂家', name: 'Manufactor', width: 100, align: "left", sortable: false },
                    { label: '炉批号', name: 'HeatNo', width: 100, align: "left", sortable: false },
                    { label: '检测报告编号', name: 'TestReportNo', width: 140, align: "left", sortable: false }
            ],
            gridComplete: function () {
                $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
                $("div.unwritten").remove();
            }
        });
    }
    //加载列表数据
    function lodeList(data) {
        if (data != null && data != "") {
            mydata = data;
        }
        $("#gridList").jqGrid('clearGridData');
        $.each(mydata, function (i, item) {
            index++;
            item.id = index;
            $("#gridList").jqGrid('addRowData', index, item);
        });
    }
</script>

<div style="margin-top: 10px;">
    <ul class="nav nav-tabs">
        <li id="JBXX" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">基本信息</a></li>
        <li id="MXXX" onclick="selectTab($(this))"><a href="javascript:void(0);">明细信息</a></li>
    </ul>
    <div id="JBXXInfo" style="padding-top: 5px;margin-right:20px;">
        <form id="form1">
            <input id="ID" name="ID" type="hidden" />
            <input id="Examinestatus" name="Examinestatus" type="hidden" value="未发起" />
            <input id="Enclosure" name="Enclosure" type="hidden" />
            <table class="form">
                <tr>
                    <th class="formTitle">领用单号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CollarCode" name="CollarCode" type="text" disabled="disabled" class="form-control required" />
                    </td>
                    <th class="formTitle">领用日期<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CollarDate" name="CollarDate" type="text" class="form-control required" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">加工订单<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="OrderCode" name="OrderCode" type="hidden" />
                            <input id="TypeName" name="TypeName" readonly="readonly" type="text" class="form-control required" placeholder="加工订单" />
                            <span id="TypeName" class="input-group-btn">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i style="padding-bottom:8px;padding-top:8px;" class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">使用部位<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CollarPosition" name="CollarPosition" type="text" readonly="readonly" class="form-control required" placeholder="由加工订单带入" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">分部<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="BranchCode" name="BranchCode" type="hidden" />
                            <input id="BranchName" name="BranchName" readonly="readonly" type="text" class="form-control required" placeholder="分部" />
                            <span id="BranchName" class="input-group-btn">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i style="padding-bottom:8px;padding-top:8px;" class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">工区<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="WorkAreaCode" name="WorkAreaCode" type="hidden" />
                        <input id="WorkAreaName" name="WorkAreaName" readonly="readonly" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">站点<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="SiteCode" name="SiteCode" type="hidden" />
                        <input id="SiteName" name="SiteName" readonly="readonly" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">加工厂名称</th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="ProcessFactoryCode" name="ProcessFactoryCode" type="hidden" />
                            <input id="ProcessFactoryName" name="ProcessFactoryName" readonly="readonly" type="text"
                                   class="form-control" placeholder="加工厂名称" />
                            <span id="ProcessFactoryName" class="input-group-btn">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i style="padding-bottom:8px;padding-top:8px;" class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">领用人<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="UserCode" name="UserCode" type="hidden" />
                            <input id="UserName" name="UserName" readonly="readonly" type="text" class="form-control required" placeholder="领用人" />
                            <span id="UserName" class="input-group-btn">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i style="padding-bottom:8px;padding-top:8px;" class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">类型编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="TypeCode" name="TypeCode" type="text" disabled="disabled" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">附件</th>
                    <td class="formValue">
                        <span id="uplaodFileTitle" class="Isfile">未上传</span>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFilelook" onclick="uplaodFilelook();" style="display:none;">查看</a>
                    </td>
                    <th class="formTitle">领料合计kg<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="Total" name="Total" type="text" value="0" disabled="disabled" class="form-control required">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">录入人</th>
                    <td class="formValue">
                        <input id="InsertUserName" name="InsertUserName" type="text" readonly="readonly" class="form-control" />
                    </td>
                    <th class="formTitle">录入时间</th>
                    <td class="formValue">
                        <input id="InsertTime" name="InsertTime" type="text" readonly="readonly" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 70px; padding-right:2px;" readonly="readonly"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="MXXXInfo" style="padding-top: 5px; display: none; margin:10px; overflow-x: scroll; ">
        <div class="gridPanel" style="margin-top: 1px; ">
            <table id="gridList"></table>
        </div>
    </div>
</div>
